/* BULMA.CSS */
@import '../node_modules/bulma/bulma';
/* NORMALIZE.CSS */
@import '../node_modules/normalize.css';

/* COMMON */

$neutral: #efefef;
$grey: #a9a9a9;
$red: #ff383f;
$blue: #4056a1;
$lightblue: #caebf2;
$white: #f5f5f5;

/* GENERAL */




/* HEADER */
